doctype html
html
    if NODE_ENV == 'production'
        //
            !{copyright}
    if NODE_ENV == 'development'
        //
            !{build}
    head
        meta(charset='utf-8')
        title #{title}
        meta(name='description', content='#{meta_desc}')
        meta(name='keywords', content='#{meta_keyw}')
        meta(name='viewport', content='#{viewport}')
        if favicon
            link(rel='icon', type='image/png', href='favicon.png')
    body
        #root
    script(src='/public/bundle.js')
